/* .icon:hover > .svg path:hover   { fill:#57B78C; } */
/* .icon{ color:#57B78C; } */



/* .svg path:hover{ fill:#57B78C; } */



#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }