body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'sans-serif', 'SourceSansPro-SemiBoldItalic', 'SourceSansPro-SemiBold', 'SourceSansPro-Regular', 
    'SourceSansPro-Light', 'SourceSansPro-LightItalic', 'SourceSansPro-Light', 'SourceSansPro-Italic',
    'SourceSansPro-ExtraLightItalic', 'SourceSansPro-ExtraLight', 'SourceSansPro-BoldItalic',
    'SourceSansPro-Bold', 'SourceSansPro-BlackItalic', 'SourceSansPro-Black';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SourceSansPro-Black";
  font-display: swap;
  src: local("SourceSansPro-Black"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-BlackItalic";
  font-display: swap;
  src: local("SourceSansPro-BlackItalic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-display: swap;
  src: local("SourceSansPro-Bold"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-BoldItalic";
  font-display: swap;
  src: local("SourceSansPro-BoldItalic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  font-display: swap;
  src: local("SourceSansPro-ExtraLight"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-ExtraLightItalic";
  font-display: swap;
  src: local("SourceSansPro-ExtraLightItalic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Italic";
  font-display: swap;
  src: local("SourceSansPro-Italic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-display: swap;
  src: local("SourceSansPro-Light"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-LightItalic";
  font-display: swap;
  src: local("SourceSansPro-LightItalic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  font-display: swap;
  src: local("SourceSansPro-Regular"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-SemiBold";
  font-display: swap;
  src: local("SourceSansPro-SemiBold"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "SourceSansPro-SemiBoldItalic";
  font-display: swap;
  src: local("SourceSansPro-SemiBoldItalic"), url('./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format("truetype");
}